$green: #145214;
$darkgreen: #002500;
$medium-space: 20px;

$primary: $darkgreen;
$base-space: $medium-space; 

.glimmer-portfolio {
  
  @import "filter-info";
  @import "links";

  font-family: 'Helvetica Neue', Verdana;
  margin-top: 50px;
  font-size: 16px;
  letter-spacing: 0.09em;
  line-height: 1.5em;
  border-bottom: 4px solid $primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  span.type {
    font-size: 15px;
  }

  img.loader {
    cursor: auto !important;
    position: absolute;
    visibility: hidden;
  }

  .blurred-placeholder {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-size: cover !important;
    filter: blur(10px);
    opacity: 0;
    transition: 0.5s opacity;
  }


  &, & * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  h3 {
    font-size: 40px;
    margin: 0;
    line-height: 1.05em;
    position: relative;
    padding: 0.65em $base-space;
    color: $primary;
    background: white;
    border: 4px solid;
    text-align: right;
    width: 125%;
    text-transform: uppercase;
    position: relative;
    top: -10px;


    .label {
      background: darkgrey;
      font-size: 12px;
      padding: 2px 5px;
      line-height: 16px;
      height: $base-space;
      margin-left: 5px;
      right: 0;
      top: 0;
      text-shadow: none;
      position: absolute;

    }
  }

  h4 {
    margin: 0;
    margin-bottom: $base-space;
    font-size: 25px;
    background: white;
    color: $primary;
    padding: 1em;
    text-transform: uppercase;
    width: 120%;
    border: 4px solid;
    text-align: right;
  }

  .thumbnails {
    display: flex;
    margin-top: $base-space;
    padding: 10px 0;
    overflow-x: auto;
    overflow-y: visible;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: transparentize($primary, 0.7);
    z-index: 3;
  }

  .thumbnail {
    height: 180px;
    margin: 0 10px;
    flex-shrink: 0;
    border: 3px solid transparent;
    transition: 0.3s border, 1s max-width, 0.3s opacity;
    max-width: 250px;
    cursor: pointer;

    &:hover {
      border-color: transparentize($primary, 0.5);
    }
  
    &.active {
      border-color: $primary;
    }

    &.hidden {
      max-width: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  .columns {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
  }

  .column {
    $side-column-size: 400px;


    &.right {
      width: 100vw;
      transition: 0.7s width;
      background-size: cover !important;
      position: relative;
      overflow: hidden;
      
      .inner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover !important;

        -webkit-mask: linear-gradient(left, black, transparent 30%, black);
        -webkit-filter: blur(3px);
        mask: url('#mask-linear');
        filter: url('#filtre2');
      }
    
      img {
        border: 4px solid transparent;
        transition: 0.3s border-color;
        cursor: pointer;
    
        &:hover {
          border: 4px solid transparentize($primary, 0.2);
        }
      }
    
      &.blurred {
        .blurred-placeholder {
          opacity: 1;
        }
      }
    }

    &.middle {
      width: $side-column-size;
      text-align: center;
    }

    &.left {
      width: 600px;
      background: transparentize(white, 0.07);
      opacity: 1;
      border-right: 4px solid $primary;
      position: relative;
      z-index: 2;
      padding-bottom: 215px;
    }
  }

  .technologies {
    margin-top: 5px;
    padding: 0 $base-space;
  }

  .label {
    display: inline-block;
    padding: $base-space - 15px 7px;
    border-radius: 3px;
    background: lightgrey;
    transition: 0.3s background;
    margin: 5px 0;

    &:hover, &.active {
      cursor: pointer;
      background: darken(lightgrey, 20%);
      color: white;
    }
  }

  .description {
    margin: $base-space 0;
    padding: $base-space $base-space;
    background: transparentize(grey, 0.87);
    letter-spacing: 0.05em;
    margin-top: $base-space - 5px;
    box-shadow: inset 0px 1px 1px 1px transparentize(black, 0.95);
    font-size: 15px;

  }

  .my-work {
    padding: 0 $base-space;
  }

  .line {
    padding: 0.4em 8px;
    font-size: 14px;
    letter-spacing: 0.05em;
    box-shadow: inset 0px 1px 1px 1px transparentize(black, 0.95);

    &:nth-child(2n - 2){
      background: transparentize(grey, 0.87);
    }
  }
}