.filter-info {

  width: 200px;
  padding: 20px;
  max-width: 200px;
  transition: 0.5s max-width, 0.2s opacity;
  opacity: 1;
  flex-shrink: 0;
  background: transparentize(white, 0.1);
  margin: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.hidden {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
  }

  .inner {
    width: 160px;
  }
}