<div class="filter-info">
  <div class="inner">
    {{#if @filterBy.value}}
      Projects with <strong>{{@filterBy.value}}</strong> in <strong>{{@filterBy.propName}}</strong>
      {{else}}
      {{@projectsLength}} projects ->
    {{/if}}
  </div>
</div>
    